version: '3.2'

services:
  # Build routing graph
  router_build:
    build: ./dockerfiles/unweaver
    command: bash -c "cp -r /inputconfig/* /data && cp -r /inputdata/layers /data/ && poetry run unweaver build /data --changes-sign incline"
    volumes:
      - ./config/unweaver:/inputconfig:rw
      - ./data/transportation.geojson:/inputdata/layers/transportation.geojson:ro
      - ./build/router:/data:rw

  # Build tiles
  tiles:
    build: ./dockerfiles/tippecanoe
    volumes:
      - ./config/tippecanoe/build_tiles.sh:/build_tiles.sh:ro
      - ./config/tippecanoe/pedestrian-tilejson.json:/home/tippecanoe/pedestrian.json:ro
      - ./config/tippecanoe/regions-tilejson.json:/home/tippecanoe/regions.json:ro
      - ./data/transportation.geojson:/home/tippecanoe/input/transportation.geojson:ro
      - ./data/regions.geojson:/home/tippecanoe/input/regions.geojson:ro
      - ./build/tiles:/home/tippecanoe/output:rw

  # Build webapp into static assets
  webapp:
    build:
      context: https://github.com/accessmap/accessmap-webapp.git#develop
    command: npm run build
    volumes:
      - ./data/regions.geojson:/www/public/regions.json:ro
      - ./build/webapp:/www/public
