# The URL for the database. This is overriden by default, as the default
# environment assumes a development deployment. When deploying for production
# (docker-compose -f docker-compose.yml), however, it must be set. This should
# be set to a JDBC-compatible database URI. An example can be found in
# `docker-compose.override.yml`.
RAKAM_CONFIG_STORE_ADAPTER_POSTGRESQL_URL=

# The lock key for your Rakam deployment. This should be thought of as a key to
# all of your Rakam data, as it can be used to read any project's data via the
# public API. It is also used for creating new projects. Therefore, for
# production deployments you must create a new lock key and treat is as an
# important secret for your organization. It can be set to any string, but we
# recommend a strong cryptographic hash.
RAKAM_CONFIG_LOCK__KEY=
